#==============================================================================+
# File name   : fedora17-guest.cfg
# Begin       : 2012-08-28
# Last Update : 2013-04-23
# Version     : 1.0.0
#
# Description : This script contains kickstart extra-args options to be passed
#               to virt-install command to create a CentOS virtual image.
#               Fedora 17 64 bit guest
#
# Website     : https://github.com/fubralimited/CentOS-KVM-Image-Tools
#
# Author: Nicola Asuni, Paul Maunders, Mark Sutton
#
# (c) Copyright:
#               Fubra Limited
#               Manor Coach House
#               Church Hill
#               Aldershot
#               Hampshire
#               GU12 4RQ
#               UK
#               http://www.fubra.com
#               support@fubra.com
#
# License:
#    Copyright (C) 2012-2013 Fubra Limited
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#    See LICENSE.TXT file for more information.
#==============================================================================+

# text mode (no graphical mode)
text

# do not configure X
skipx

# non-interactive command line mode
cmdline

# install
install

# installation path
url --url=http://mirror.ox.ac.uk/sites/download.fedora.redhat.com/pub/fedora/linux/releases/18/Fedora/x86_64/os/

# repository
repo --name="Fedora Repo" --baseurl=http://mirror.ox.ac.uk/sites/download.fedora.redhat.com/pub/fedora/linux/releases/18/Fedora/x86_64/os/
# by specifying the update Repo the install process will automatically update to the latest version. If you wish to stay at the initial release version, comment the following line.
repo --name="Fedora Repo Update" --baseurl=http://mirror.ox.ac.uk/sites/download.fedora.redhat.com/pub/fedora/linux/updates/18/x86_64/

# Language support
lang en_GB

# keyboard
keyboard uk

# network
network --onboot=on --bootproto=dhcp

# root password
rootpw changeme1122

# firewall
firewall --enabled

# auth config
auth --useshadow --enablemd5

# SElinux
selinux --enforcing

# timezone
timezone --utc UTC

# bootloader
bootloader --location=mbr

# clear the MBR (Master Boot Record)
zerombr

# the Setup Agent is not started the first time the system boots
firstboot --disable

# power off after installation
poweroff

################################################################################
# LVM partitions

# do not remove any partition (preserve the gpt label)
clearpart --none

# creates a partition on the system
part /boot --fstype=ext4 --size=500
part pv.00 --grow --asprimary --size=1

# Increased pesize from 4096 KB to 262144 KB (0.25GB) to allow bigger logvols
# Keep 20% of volgroup reserved for future use
volgroup vg_main --pesize=262144 pv.00 --reserved-percent=20

# Use default swap size
logvol swap --name=lv_swap --vgname=vg_main --recommended

# Allocate the rest to /
logvol / --fstype=ext4 --name=lv_root --vgname=vg_main --size=1 --grow

################################################################################

%pre
parted -s /dev/vda mklabel gpt

%packages –nobase
@core
@server-policy
vim-enhanced
nano
aide

################################################################################

%post
# cleanup the installation
yum clean all
# run Aide to generate initial database
aide -i
%end

################################################################################
